:root {

    --primary-color: #4A148C;
    --secondary-color: #7C4DFF;
    --tertiary-color: #FFEB3B;
    --black: #121212;
    --white: #E0E0E0;

}


body {
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 20px
}

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.pc {
    color: var(--primary-color) !important;
}

.tc {
    color: var(--tertiary-color) !important;
}

.tc-border {
    border-color: var(--tertiary-color) !important;

}



.TTT {
    background-color: tomato
}


.burger-menu {
    height: 40px;
    justify-self: end;
    color: var(--white);

}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);

}

.logo {
    color: violet;
    background-color: var(--primary-color);
    height: 50px;
}

.burger-border {
    border-radius: 20px
}

.h1-font {
    color: var(--white);
    font-size: 40px;
}

.banner {
    display: flex;
    align-items: center;
    background-image: url(../src/ressources/banner_960.webp);
    background-size: cover;
    background-position: center;
    height: 300px;
    padding: 50px;
}

.glass-card {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 38px;
}

.shadow-text-tc {
    text-shadow: 0 3px 6px #ffeb3b7c !important ;

}


.shadow-box-tc {

    box-shadow : 0 3px 6px #ffeb3b7c !important;

}

.main-space {
    margin: 10px;
    max-width : 700px;


}

